body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family:'Roboto', 'Helvetica', sans-serif;
  font-size: 12px;
  color: #2d3c49;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding:12px;
}

.header__logo {
  height: 72px;
  weight: 25%;
  vertical-align: top;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
}

.header__textcontainer {
  height: 72px;
  width: 200px;
  vertical-align: bottom;
  display: inline-block;
  float: right;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 24px;
}

.header__title {
  font-weight: 250;
  font-size: 3em;
  font-family:'Roboto', 'Helvetica', sans-serif;
  color: #2d3c49;
  display: block;
  text-align: right;
  bottom: 3px;
  margin-bottom: 15;
}

.header__subtitle {
  font-weight: 150;
  font-size: 1.5em;
  display: block;
  color: #2d3c49;
  text-align: right;
  bottom: 0;
}

@media screen and (max-width: 400px) {

  .header__textcontainer {
  height: 72px;
  width: 100px;
  vertical-align: bottom;
  display: inline-block;
  float: right;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 24px;
}

.header__title {
  font-weight: 150;
  font-size: 1.5em;
  font-family:'Roboto', 'Helvetica', sans-serif;
  color: #2d3c49;
  display: block;
  text-align: right;
  bottom: 3px;
  margin-bottom: 15;
}

.header__subtitle {
  font-weight: 100;
  font-size: 0.5em;
  display: block;
  color: #2d3c49;
  text-align: right;
  bottom: 0;
}

}
/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}


/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Content
 *
 */


/*
 *
 * Hero
 *
 */

.hero {
  float: left;
  width: 100%;
  position: relative;
  background-image: url("../images/MIT.jpeg");
  background-size: cover;
  height: 300px;
}

.hero article {
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #fff;
  padding: 1em;
}

/*
 *
 * Portfolio
 *
 */

.portfolio-grid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  vertical-align: middle;
  padding:12px;
}

.portfolio-grid-header {
  width: 100%;
  text-align: left;
  padding: 24px
  color: #7d97ad;
  font-size: 1.5em;
}

.portfolio-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
  text-align: center;
  display: block;
}

.portfolio-grid-item img  {
  display: block;
  width: 75%;
  vertical-align: top;
  display: block;
  margin: 0 auto;
}
